sudo: false
rvm:
  - 2.3.0
gemfile:
  - test/gemfiles/Gemfile.rails-4.2.x
  - test/gemfiles/Gemfile.rails-5.0.x
  - test/gemfiles/Gemfile.rails-6.0.x
env:
  - DB=mysql
  - DB=postgres
addons:
  postgresql: "9.4"
matrix:
  exclude:
    gemfile: test/gemfiles/Gemfile.rails-4.2.x
    env: DB=mysql
before_install:
  - gem install bundler
  - if [[ $DB == mysql ]] ;
    then
      echo mysql-apt-config mysql-apt-config/select-server select mysql-5.7 | sudo debconf-set-selections ;
      wget http://dev.mysql.com/get/mysql-apt-config_0.7.3-1_all.deb ;
      sudo dpkg --install mysql-apt-config_0.7.3-1_all.deb ;
      sudo apt-get update -q ;
      sudo apt-get install -q -y --allow-unauthenticated -o Dpkg::Options::=--force-confnew mysql-server ;
      sudo mysql_upgrade ;
      mysql -e 'create database json_translate_test;' ;
    else
      psql -c 'create database json_translate_test;' -U postgres ;
    fi
